<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace = "layout/layout :: header"></header>

	<main>
	<div class="container">
	<section class="container mt-4">
	<div class="card" style="width: 40rem;">
	  <div class="card-header">
	    Editar tipo de evento
	  </div>
	  <div class="card-body">
	  	<div th:if="${mensaje}" class="alert alert-danger alert-dismissable" role="alert" th:text="${mensaje}"></div>
	  	<form th:action="@{/categories/save/}" th:object="${categoryEdit}" method="post">
		  <div class="mb-3">
		    <label for="name" class="form-label">Nombre</label>
		    <input type="text" class="form-control" th:field="*{name}" placeholder="Name of the Event Type" >
		    <label for="name" class="form-label">Descripci&#243;n</label>
		    <input type="text" class="form-control" th:field="*{description}" placeholder="Description of the Event Type" >
		  	
		  </div>

		  <button type="submit" class="btn btn-primary">Update</button>
		</form>
		<br>
  		<a th:href="@{/categories}" class="btn btn-primary"> <i class="fas fa-angle-double-left"></i> Return</a>
	  </div>
	</div>
	</section>
	</div>
	</main>

	<footer th:replace = "layout/layout :: footer"></footer>
 	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>