<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-content__info">
        <div class="footer-content__info-content">
          <div id="address">
            <h2 class="subtitle">Contacto</h2>
            <p>GRUPO SANTA ELENA S.A.</p>
            <p>Oficina Principal: Av. Manuel Olguin Nro. 325 Int. 703 - Santiago de Surco - Lima, Perú</p>
            <a href="#" >deliveryavinka@santaelena.com.pe</a>
            <div class="footer-medias">
              <a href="https://www.facebook.com/Avinka.pe/" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
              <a href="https://www.instagram.com/avinka_pe/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCF3BNWVEDTUCIhC1RqVBy1Q" target="_blank">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
          <div id="links">
            <h2 class="subtitle">Acerca de Avinka</h2>
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
            <a href="#">Política de cookies</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Promociones</a>
            <a href="#">Sugerencia</a>

          </div>
        </div>
        <div class="footer-content__info-payments">
          <div>
            <h2 class="subtitle">Medios de Pago</h2>
            <div class="payments-methods">
              <img src="../static/assets/icons/MasterCard_early_1990s_logo.svg" alt="Master card">
              <img src="../static/assets/icons/visa.svg" alt="Visa">
            </div>
          </div>
          <div class="footer-content__info-payments__img">
            <a href="./reclamaciones.html">
              <img src="../static/assets/images/reclamaciones.png" alt="Libro de reclamaciones">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-content__sponsor">
        <p>Powered by riqra</p>
      </div>
    </div>
  </div>
</footer>